<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col p-3 about-body">
            <h2>About this website thing</h2>
            <hr>
            <p>
                As you may have guessed, this is just another one of <i>those</i> sites (not very profound, not that they intend to in any way). <b>QRGames</b> allows
                you to code small JavaScript games using an internal "framework" (using a generous nomenclature) and to share them using QR codes. These would contain
                <b>all the game's code</b> by means of minification and compression, so no server is necessary to either store the code nor to run it.
            </p>
            <p>
                By using this website's internal JavaScript editor (it's just <a href="https://ace.c9.io/">Ace</a>), you can code and test them easily before you share them. Be aware that
                games shared with this technology might contain malicious code, but this is completely not my responsibility. Do not blame me if you execute some bad code 
                on this website (pls no sue).
            </p>

            <h2>QR what?</h2>
            <hr>
            <p>
                <a href="https://letmegooglethat.com/?q=QR+Code+Wikipedia">I'll help you.</a>
            </p>

            <h2>Does it serve any purpose?</h2>
            <hr>
            <p>
                <b>Quick answer:</b> not really.
            </p>
            <p>
                <b>Long answer:</b> do any of these silly experiments serve any purpose, really? I just thought it would be funny when 
                I found out about <a href="https://js1k.com/">1KJS</a>, <a href="https://www.youtube.com/watch?v=ExwqNreocpg">this guy that put a game in a QR code</a> and some incredible engineering feats
                such as <a href="https://en.wikipedia.org/wiki/1K_ZX_Chess">David Horne's 1K ZX Chess</a>. This website's sole purpose is to make people feel accomplished as they have their
                own QR containing a game they made. It also enables people to share small games with only a photograph, which is crazy.
            </p>
            <p>
                Let's be real for a second, this is just a fully client-side web and I <b>do not</b> intend to keep updating it very often. This has been
                a project for like a week or so, and now it is <b>functional</b> and <b>over</b> (unless it gains some media attention, but I seriously doubt it).
            </p>
            <p>
                Have fun coding silly games!
            </p>
        </div>
        <div class="col-3"></div>
    </div>
</div>