<div class="container-fluid">
	<div class="row p-2">
		<div class="col-4 d-flex justify-content-center">
			<div class="t-header">
				Runner
			</div>
		</div>
		<div class="col-8 d-flex justify-content-center">
			<div class="t-header">
				Coder
			</div>
		</div>
	</div>
	<div class="row p-2">
		<div class="col-4 d-flex justify-content-center">
			<div class="t-header">
				<runner></runner>		
			</div>
		</div>
		<div class="col-8 justify-content-center">
			<coder (execute)="executeCode($event)" (executeF)="executeCode($event, false)" (stop)="stopCode()"></coder>
		</div>
	</div>
</div>