body {
    width: 100vw;

    background-color: darkgray;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.t-header{
    display: grid;
    align-items: center;

    width: 100%;

    padding: 0.5em;

    text-align: center;

    background-color: rgb(60, 60, 60);

    border-radius: 0.25em;
        
    font-size: 1.2em;
    font-weight: bolder;
    color: white;

    user-select: none;
}

button{
    background-color: rgb(60, 60, 60);

    border: 1px solid orange;
    border-radius: 0.25em;

    font-size: 1.1em;
    color: orange;

    -webkit-font-smoothing: antialiased;
    
    &.danger{
        color: rgb(250, 50, 50);
    }
}

a{
    color: orange;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: none; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.25em;
    background-color: rgb(85, 85, 85);

    &:hover{
        background-color: rgb(70, 70, 70); 
    }
}